<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{{ page.title}}</title>
    <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
 </head>
      <body>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="blog">Blog</a></li>
          </ul>
        </nav>
        <div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
          <p>Below are some sample sites created on github</p>
	      <ul>
        	    <li><a href="https://bwright47.github.io/hello-world/">See Hello World project</a></li>
        	    <li><a href="https://bwright47.github.io/basic-calculator/">Click to view my basic calculator</a></li>
		    <li><a href="http://username.github.io/blog/atom.xml/">Subscribe to my blog</a></li>
	      </ul>	
        <footer>
          <ul>
            <li><a href=https://github.com/bwright47>github.com/bwright47</a></li>
          </ul>
        </footer>  
       </body>
</html>
